[user]
	email = lukasz.kasprzak@pm.me
	name = Lukasz Kasprzak
[core]
	pager = delta
[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
	keep-plus-minus-markers = true
	diff-so-fancy = false
	max-line-length = 0
[interactive]
	diffFilter = delta
